#app-main{
    padding:15px;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
}
#app-main:after{
    content:"";
    opacity:0;
    z-index:-10;
    position:absolute;
    top:0px;bottom:0px;
    left:0px;right:0px;
    width:100%;
    height:100%;
    background:center no-repeat url(/resources/images/loading.svg);
    background-size: 100px;
    background-color: var(--workflow-popup-menu-overlay-color, rgba(255, 255, 255, 0.7));
    transition: opacity 0.5s ease-in;
    touch-action:none;
}
#app-main.loading{
    position: relative;
    overflow: unset;
}
#app-main.loading:after{
    opacity:1;
    z-index:9999;
}
#app-main>workspace-view{
    display:block;
    margin: auto;
    max-width:var(--workspace-main-max-width, 900px);
}
layout-root{height:100%;box-sizing:border-box;}
layout-root{display:flex;flex-direction:column;}
[hide]{display:none;}

.form-container.with-form-footer{
    display:block;
    padding-bottom:0px;
}
.form-container.with-form-footer {
    padding-bottom:calc(var(--form-footer-height, 70px) + 32px);
}
.form-container .workflow-form-footer{
    position:absolute;
    bottom:calc(var(--form-footer-height, 72px) * -1);
    left:0px;right:0px;
    z-index:1000;
    background-color: var(--flow-background-color, #FFF);
    display: flex;
    align-items: center;
    justify-content:var(--workflow-form-footer-justify-content, end);
    box-shadow:var(--flow-box-shadow);
    padding:10px 15px;
    height:var(--form-footer-height, 70px);
    overflow:hidden;
    box-sizing:border-box;
    transition:all 0.5s ease;
}
#app-main>workspace-view,
.form-container .workflow-form-footer{
    max-width: var(--workspace-main-max-width, 900px);
    margin:0px auto;
    --flow-iconbtn-padding: 10px 10px;
}
workflow-app-layout.almost-scrolled .form-container .workflow-form-footer{
    bottom:0px;
}

.app-log{
    position:fixed;
    padding:10px;
    border:1px solid #DEDEDE;
    top:0px;left:0px;right:0px;
    touch-action:none;
    background-color:#FFF;
    margin:0px;
    z-index:10000;
}
